GridPane {
    -fx-background-color: #676767;
}

.text {
    -fx-wrap-text: true;
    -fx-font-size: 14px;
    -fx-text-fill: #cccccc;
}

.btn {
    -fx-background-color: #444444;
    -fx-text-fill: #bbbbbb;
    -fx-font-size: 14px;
    -fx-border-color: #bbbbbb;
    -fx-border-radius: 4px;
    -fx-width: 150px;
}

.btn:hover {
    -fx-background-color: #555555;
    -fx-fill: #ff0000;
    -fx-text-fill: #ff0000 !important;
}

.appHead {
    -fx-width: 100%;
    -fx-background-color: #444444;
}

.question {
    -fx-fill: #ff0000;
}
